<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <h3>Add New Recipe</h3>

      <form action="/create_recipe" method="post">
        <div class="form-group">
          <label for="title" class="form-label">Title your recipe:</label>
          <input type="text" name="title" class="form-control" id="title" required>
          <label for="instructions" class="form-label">Add instructions for your recipe:</label>
          <input type="text" name="instructions" class="form-control" id="instructions" required>
          <br>
          <button type="submit" class="btn btn-success">Add Recipe</button>
        </div>
      </form>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <% if @recipes.any?() %>
      <h3>Here are your recipes:</h3>

      <form action="/delete_recipe" method="post">
      <input type="hidden" name="_method" value="delete">
      <% @recipes.each() do |recipe| %>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="recipe_ids[]" value="<%= recipe.id() %>"> <a href= "recipe/<%= recipe.id %>"><%= recipe.title() %></a>
          </label>
        </div>
      <% end %>

        <button type="submit" class="btn btn-danger">Delete Selected Recipes</button>
      </form>

    <% else %>

        <p>There are no recipes yet!</p>

    <% end %>
    </div>
    <br>
    <div class="card">
      <a href="/"><button class="btn home">Return To Homepage</a>
    </div>
  </div>
</div>
