<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <h3>Add New Ingredient</h3>

      <form action="/create_ingredient" method="post">
        <div class="form-group">
          <label for="title" class="form-label">Ingredient:</label>
          <input type="text" name="title" class="form-control" id="title" autofocus>
          <br>
          <button type="submit" class="btn btn-success">Add Ingredient</button>
        </div>
      </form>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <% if @ingredients.any?() %>
      <h3>Here are your ingredients:</h3>

      <form action="/delete_ingredient" method="post">
      <input type="hidden" name="_method" value="delete">
      <% @ingredients.each() do |ingredient| %>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="ingredient_ids[]" value="<%= ingredient.id() %>"> <%= ingredient.title() %>
          </label>
        </div>
      <% end %>

        <button class="btn btn-danger" type="submit">Delete Selected Ingredients</button>
      </form>

    <% else %>

        <p>There are no ingredients yet!</p>

    <% end %>

    </div>
    <br>
    <div class="card">
      <a href="/"><button class="btn home">Return To Homepage</a>
    </div>
  </div>
</div>
