<!DOCTYPE html>
<html>
  <head>
    <title>Recipe Box</title>
    <link rel='stylesheet' href='/css/bootstrap.css' type='text/css'>
    <link rel='stylesheet' href='/css/styles.css' type='text/css'>
  </head>
  <body>
    <div class='container'>
      <div class='jumbotron'>
        <h1>Recipe Box</h1>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
