
<div class="card">
  <video autoplay loop>
     <source src="/vid/kirk.mp4">
  </video>
  <br>
  <div id="kirk">
    <h5><a href="/" >Quit hitting yourself! That recipe doesn't exist yet.</a></h5>
  </div>
</div>
